/* Variables */
:root {
  /* Website background colors */
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  /* Text colors */
  --mainText: black;
  --secondaryText: #4d4d4d;

  /* Border Colors */
  --borderColor: #c1c1c1;
  --themeDotBorder: #dbdbdb;

  /* Hyperlink colors */
  --navHover: #ff3d3d;

  /* Google Colors */
  --googleRed: #db4437;
  --googleBlue: #4285f4;
  --googleYellow: #f4b400;
  --googleGreen: #0f9d58;
}

.App {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  transition: 430ms;
  outline: none;
}
